<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:networkSecurityConfig="@xml/networkconfig"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/smrdlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smrdlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewApplicationJetpack"
        tools:targetApi="31">
        <activity
            android:name=".presentation.dashboard.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.NewApplicationJetpack" />
        <activity
            android:name=".presentation.auth.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NewApplicationJetpack">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="localhost"
                    android:port="3000"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>